@import "tailwindcss";
@import "@fontsource-variable/eb-garamond";

@custom-variant hover (&:hover);

@theme {
    --color-primary-1: #2a3f3fff;
    --color-primary-2: #467750ff;
    --color-primary-3: #89c07eff;
    --color-blank: #f4f0edff;
    --color-secondary-1: #a49bd7ff;
    --color-secondary-2: #f0cd6eff;
}

body {
    font-family: 'EB Garamond', serif;
}